<style>
	.container {
		max-width: initial;
		padding: 0;
		margin: 0;
	}
</style>

<div class="m-0 p-0">

	<div class="flex flex-col md:grid grid-cols-5 h-screen w-screen">
		<div class="col-span-3 bg-red-900 p-24">
			<div class="grid grid-cols-3 gap-8">
				<div class="bg-gray-200 p-5 h-72 rounded-lg"></div>
				<div class="bg-gray-200 p-5 h-72 rounded-lg"></div>
				<div class="bg-gray-200 p-5 h-72 rounded-lg"></div>
				<div class="bg-gray-200 p-5 h-72 rounded-lg"></div>
				<div class="bg-gray-200 p-5 h-72 rounded-lg"></div>
			</div>
		</div>

		<div class="bg-gray-100 col-span-2 flex flex-col justify-between">
			<div class="flex flex-row justify-center p-5">
				<p>Panier</p>
			</div>
			<div class="flex flex-col" id="cart">

			</div>

			<div class="flex flex-col">
				<p class="tracking-wide font-semibold text-gray-700 px-10 my-4">Total : <span id="total_price"
						class="font-extrabold"></span></p>
				<button class="bg-red-900 px-5 py-3 text-white font-bold m-5">Payer</button>
			</div>
		</div>
	</div>
</div>

<button onclick="createSaleOrder()">Commander</button>


<script>
	var keys = Object.keys(localStorage)

	const cart_html = document.getElementById("cart")
	const total_html = document.getElementById("total_price")

	var total = 0
	var products = { "orders": [] }

	keys.forEach(async el => {
		$.ajax({
			url: "https://localhost:5001/api/Products/" + el,
			type: "GET",
			crossDomain: true,
			success: function (result) {
				var quantity = localStorage.getItem(el)
				var price_subtotal = result.sellPrice * quantity
				total += price_subtotal
				cart_html.innerHTML += `<tr><td>${result.name}</td><td>${result.house}</td><td>${result.sellPrice}</td><td>${quantity}</td><td>${price_subtotal}</td><td><button onclick="removeProduct(${result.id})">X</button></tr>`
				total_html.innerHTML = `<p>${total}</p>`
				products["orders"].push({ "product_Id": result.id, "quantity": parseInt(quantity) })
			},
			error: function (error) {
				console.log(error);
			}
		});
	})

	function removeProduct(product_id) {
		console.log("Product with id " + product_id + " removed.");
		localStorage.removeItem(product_id);
		location.reload();
	}

	function createSaleOrder() {
		$.ajax({
			url: "https://localhost:5001/api/SaleOrders",
			type: "POST",
			crossDomain: true,
			data: JSON.stringify(products),
			dataType: "json",
			contentType: "application/json",
			success: function (result) {
				console.log("Sale order created.")
			},
			error: function (error) {
				console.log(error);
			}
		});
		localStorage.clear();
		window.location.replace("https://localhost:5002");
	}

</script>
