* {
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: row;
	background-image: url(https://wallpapercave.com/wp/wp2878153.jpg);
}

h1 {
	text- align: center;
	padding-bottom: 50px;
}

.create-form {
	display: flex;
	flex-direction: column;
	background-color: rgba(25, 25, 25, .5);
	border: 10px solid #7d0032;
	border-radius: 20px;
	color: #fff;
	margin-top: 10vh;
	padding: 50px;
	text-align: center;
	width: 100%;
}

.row {
	justify-content: center;
}

#wine-family {
	display: flex;
	flex-direction: column;
}

.btn-primary {
	background-color: #960f4b;
	border-color: #960f4b;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 20px;
	text-align: center;
	width: 100%;
}

.btn-primary:hover {
	background-color: #8c0542;
	border-color: #8c0542;
}

.btn-primary:active, .btn-primary:focus {
	background-color: #7d0032;
	border-color: #7d0032;
}